<?xml version="1.0" encoding="utf-8"?>
<ScrollView xmlns:android="http://schemas.android.com/apk/res/android"
    android:layout_width="match_parent"
    android:layout_height="match_parent"
    android:background="@android:color/background_light">
    <LinearLayout
        android:layout_width="match_parent"
        android:layout_height="wrap_content"
        android:orientation="vertical">
        <ImageView
            android:layout_width="match_parent"
            android:layout_height="wrap_content"
            android:layout_gravity="center_horizontal"
            android:src="@drawable/brand_big" />
        <LinearLayout
            android:layout_width="match_parent"
            android:layout_height="wrap_content"
            android:layout_marginBottom="10dp"
            android:layout_marginLeft="10dp"
            android:layout_marginRight="10dp"
            android:orientation="vertical">
        <!-- Dummy item to prevent AutoCompleteTextView from receiving focus -->
            <LinearLayout
                android:layout_width="0px"
                android:layout_height="0px"
                android:focusable="true"
                android:focusableInTouchMode="true" />
            <TextView
                android:id="@+id/loginFailed"
                android:layout_width="match_parent"
                android:layout_height="wrap_content"
                android:layout_marginTop="16dp"
                android:gravity="center_horizontal"
                android:text="Error"
                android:textColor="@android:color/holo_red_dark"
                android:visibility="visible"
                android:maxLines="2" />
            <EditText
                android:id="@+id/usernameEdit"
                android:layout_width="200dp"
                android:layout_height="wrap_content"
                android:layout_gravity="center_horizontal"
                android:layout_marginTop="14dp"
                android:ems="10"
                android:hint="Username"
                android:imeOptions="actionNext"
                android:inputType="text"
                android:singleLine="true" />
            <EditText
                android:id="@+id/passwordEdit"
                android:layout_width="200dp"
                android:layout_height="wrap_content"
                android:layout_gravity="center_horizontal"
                android:layout_marginTop="15dp"
                android:ems="10"
                android:hint="Password"
                android:imeActionId="1"
                android:imeActionLabel="Login"
                android:inputType="textPassword"
                android:singleLine="true" />
            <Button
                android:id="@+id/loginButton"
                android:layout_width="200dp"
                android:layout_height="wrap_content"
                android:layout_gravity="center_horizontal"
                android:layout_marginTop="15dp"
                android:text="Login"
                android:background="@drawable/signinbuttonstyle" />
        </LinearLayout>
        <RelativeLayout
            android:layout_width="match_parent"
            android:layout_height="wrap_content"
            android:id="@+id/relativeLayout1"
            android:layout_gravity="center" />
        <ImageButton
            android:src="@android:drawable/ic_menu_preferences"
            android:layout_width="wrap_content"
            android:layout_height="wrap_content"
            android:id="@+id/btnSettings"
            android:background="@android:color/transparent"
            android:layout_gravity="center_horizontal"
            android:paddingTop="60dp" />
    </LinearLayout>
</ScrollView>